<?xml version="1.0"?>
<config>
	<modules>
		<Oshop_CustomRule>
			<version>1.0.0</version>
		</Oshop_CustomRule>
	</modules>

	<global>
		<blocks>
			<adminhtml>
				<rewrite>
					<promo_quote_edit_tab_actions>Oshop_CustomRule_Block_Promo_Quote_Edit_Tab_Actions</promo_quote_edit_tab_actions>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
            <adminhtml>
                <rewrite>
                    <rule>Oshop_CustomRule_Model_Rule</rule>
                </rewrite>
            </adminhtml>
        </models>
        <helpers>
            <adminhtml>
                <class>Oshop_CustomRule_Helper</class>
            </adminhtml>
        </helpers>
	</global>
</config>