<?xml version="1.0"?>

<config>
	<modules>
		<Aing_CustomerAttr>
			<version>1.0.0.5</version>
		</Aing_CustomerAttr>
	</modules>
	<global>
		<helpers>
			<customerattr>
				<class>Aing_CustomerAttr_Helper</class>
			</customerattr>
		</helpers>
		<resources>
			<aing_customerattr_setup>
				<setup>
					<module>Aing_CustomerAttr</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</aing_customerattr_setup>
		</resources>
		<blocks>
			<adminhtml>
                <rewrite>
<sales_order_create_shipping_address>Aing_CustomerAttr_Block_Adminhtml_Sales_Order_Create_Shipping_Address</sales_order_create_shipping_address>
<sales_order_create_billing_address>Aing_CustomerAttr_Block_Adminhtml_Sales_Order_Create_Billing_Address</sales_order_create_billing_address>
                </rewrite>
            </adminhtml>s
		</blocks>
	</global>
</config>